
@font-face {
  font-family: "Catamaran";
  src: url("Catamaran-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
font-family: "Mulish";
src: url("Mulish-VariableFont_wght.ttf");
font-style: normal;
}
@font-face {
font-family: "Mulish";
src: url("Mulish-Italic-VariableFont_wght.ttf");
font-style: italic;
}

:root {
  --pod-bright: #4df186;
  --pod-dark: #0c923b;
  --pod-lightest: #fff;
  --pod-mid-grey: #ccc;
  --pod-neutral-grey: #efefef;
  --pod-street-size: 50px;
  --pod-title-font: Catamaran;
  --pod-body-font: Mulish;
  --pod-large-text: 1.4rem;
  /*  These colours are inspired by the work of Elyse Dodge, specifically
      https://www.elysedodge.com/blogs/paintings/lemon-drop.
      GETTING RID OF THEM
  */
  --cm-sky-dark: #fc6649;
  --cm-sky-light: #e5c6a7;
  --cm-sky-fog: #e5c6a7cc;
  --cm-street-dark: #243bb7;
  --cm-street-medium: #394fc5;
  --cm-street-light: #4a5bcd;
  --cm-electric-blue: #1789e2;
  --cm-dark-electric: #0a3d63;
  --cm-complementary-electric: #085996;

  --pod-osx-title-bar-height: 40px;
  --pod-traffic-light-padding: 80px;
  --pod-side-bar-width: 360px;
  --pod-footer-height: 55px;

  /* managing Shoelace tokens */
  --sl-input-font-family: var(--cm-body-font);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background: var(--cm-lightest);
  font-family: var(--cm-body-font);
  font-weight: 250;
  font-variation-settings: "wght" 250;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "a"
    "b"
  ;
  height: 100%;
}

/* assuming there'll be one of these */
pod-title-bar {
  grid-area: a;
}
