
@font-face {
  font-family: "Catamaran";
  src: url("Catamaran-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
font-family: "Mulish";
src: url("Mulish-VariableFont_wght.ttf");
font-style: normal;
}
@font-face {
font-family: "Mulish";
src: url("Mulish-Italic-VariableFont_wght.ttf");
font-style: italic;
}

:root {
  --pod-bright: #4df186;
  --pod-dark: #0c923b;
  --pod-lightest: #fff;
  --pod-mid-grey: #ccc;
  --pod-neutral-grey: #efefef;
  --pod-street-size: 50px;
  --pod-title-font: Catamaran;
  --pod-body-font: Mulish;
  --pod-large-text: 1.4rem;

  --pod-osx-title-bar-height: 40px;
  --pod-traffic-light-padding: 80px;
  --pod-side-bar-width: 360px;
  --pod-footer-height: 55px;

  /* managing Shoelace tokens */
  --sl-input-font-family: var(--pod-body-font);
  --sl-font-sans: var(--pod-body-font);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background: var(--pod-lightest);
  font-family: var(--pod-body-font);
  font-weight: 250;
  font-variation-settings: "wght" 250;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "a"
    "b"
  ;
  height: 100%;
}

/* assuming there'll be one of these */
pod-title-bar {
  grid-area: a;
}
